[submodule "PathPicker"]
	path = PathPicker
	url = https://github.com/kyokley/PathPicker.git
    branch = master
[submodule "xonsh/xonsh"]
	path = xonsh/xonsh
	url = https://github.com/kyokley/xonsh.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/kyokley/prezto.git
