[submodule "PathPicker"]
	path = PathPicker
	url = git@github.com:kyokley/PathPicker.git
    branch = master
[submodule "prezto"]
	path = prezto
	url = git@github.com:kyokley/prezto.git
    branch = master
