name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    strategy:
      matrix:
        host:
          - mars
          - mercury
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
      - name: Attempt to build host machine configs
        run: nix build '.#nixosConfigurations.${{matrix.host}}.config.system.build.toplevel'
