name: "Test"
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  tests:
    name: Run test suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host:
          - mars
          - mercury
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - name: Attempt to build host machine configs
        run: nix build '.#nixosConfigurations.${{matrix.host}}.config.system.build.toplevel'
